body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif
}

.w3-bar,
h1,
button {
  font-family: "Montserrat", sans-serif
}

.fa-anchor,
.fa-coffee {
  font-size: 200px
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  text-align: center
}

td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
background-color: #dddddd;
}